@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokecard {
  margin: 0 auto;
  width: min-content;
  border: 3px solid #ccc;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.pokecard__header {
  height: 150px;
  margin-bottom: 28px;
  position: relative;
}
.pokecard__header--heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: #fff;
  font-size: 18px;
  padding: 8px;
}
.pokecard__header--img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -20px;
}
.pokecard__header--img img {
  height: 160px;
  width: 160px;
}
.pokecard__breeding--heading {
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.pokecard__breeding--heading h1 {
  font-size: 24px;
  font-family: sans-serif;
}
.pokecard__breeding--heading span {
  border-radius: 12px;
  padding: 4px 12px;
  color: #fff;
}
.pokecard__breeding--content {
  padding: 8px 18px;
  gap: 24px;
}
.pokecard__breeding--content .breeding {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.pokecard__breeding--content .breeding .block-info {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.pokecard__breeding--content .breeding .block-info h2 {
  font-size: 24px;
  font-weight: 600;
}
.pokecard__breeding--content .breeding .block-info h2 span {
  font-size: 12px;
}
.pokecard__breeding--content .evolution {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.pokecard__breeding--content .evolution > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.pokecard__breeding--content .evolution .evoPoke {
  width: 80px;
  height: 80px;
}
.pokecard__breeding--content .subtitle {
  font-size: 12px;
  color: #555;
}
.pokecard__types {
  background-color: #e4e3e3;
  padding: 4px;
}
.pokecard__types h3 {
  font-size: 12px;
  color: #333;
  margin: 12px 0;
}
.pokecard__types--columns {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  row-gap: 8px;
  column-gap: 4px;
}

.types {
  background-color: #fff;
  padding: 0 0 5px;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 40px;
  gap: 8px;
}
.types-heading {
  width: 100%;
  border-radius: 8px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #fff;
  padding: 2px;
  font-size: 14px;
}

.double-damage {
  background-color: #77d143;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #eee;
  font-weight: 600;
  padding: 2px;
}

.half-damage {
  font-size: 12px;
  background-color: #eb544d;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 20px;
  height: 20px;
  color: #eee;
  font-weight: 600;
}

.arrow-btn {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.arrow-btn:hover {
  cursor: pointer;
}

.evoArrow {
  width: 20px;
  height: 20px;
}
